body {
    padding: 0;
    margin: 0;
    font-family: 'Mukta Mahee', 'Arial', sans-serif;
    position: relative;
}
body::after {
    content: '';
    display: block;
    height: 50px;
  }

@import "./mainContent.scss";
@import "./mainContentMediaQueries.scss";
@import "./slider.scss";